input[type="text"], input[type="password"], input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0; }

.inputForSmthing {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-left: 4px solid transparent;
  width: 100%; }

.inputInRow {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-left: 4px solid transparent;
  width: 40%; }

.inputInRow:focus, .inputForSmthing:focus {
  border-left-color: #a200ff;
  border-width: 4px; }

.ButforAction {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  border-radius: 5px;
  border-color: #a200ff;
  background-color: #a200ff;
  color: white;
  cursor: pointer; }

.ButforAction:hover {
  font-weight: bold;
  background-color: white;
  color: #a200ff; }

.ButforAction:active {
  border-color: #a200ff;
  background-color: #a200ff;
  color: white; }

a:hover {
  font-weight: bold; }

.navBut {
  border-width: 2px;
  border-color: #000;
  border-radius: 3px;
  border: solid; }

.navBut:hover {
  background-color: black;
  color: white;
  border-width: 0px; }

.logo {
  height: 59px;
  width: 150px; }

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18; }

body {
  background-color: #f1f1f1; }

a {
  text-decoration: none;
  color: #000; }

.container {
  display: flex;
  flex-direction: column; }
  @media (max-width: 576px) and (min-width: 1px) {
    .container header img {
      margin-left: 10px; }
    .container header nav {
      margin-right: 10px; }
    .container .content .wrapper {
      background-color: white; }
      .container .content .wrapper form {
        width: 90%; }
        .container .content .wrapper form section {
          display: flex;
          flex-direction: column; }
          .container .content .wrapper form section .inputInRow {
            width: 100%; }
        .container .content .wrapper form .smallScreen {
          display: block; } }
  .container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .container header img {
      margin-left: 10px; }
    .container header nav {
      margin-top: 20px;
      margin-right: 10px; }
  .container .wrapper-for-gradient {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .container .wrapper-for-gradient .gradient {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 40vw;
      height: 40vw;
      background: radial-gradient(circle at center, #D8D8D8 40%, #E0E0E0 41%, #E0E0E0 56%, #E8E8E8 57%, #E8E8E8);
      border-radius: 50%; }
      .container .wrapper-for-gradient .gradient .mail-img {
        width: 40%;
        height: 40%; }
      .container .wrapper-for-gradient .gradient .capital-font {
        font-size: 32px;
        font-weight: bold;
        margin-top: 20px; }
  .container .content {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .container .content .wrapper {
      display: flex;
      align-self: center;
      justify-content: space-around;
      margin-top: 20px;
      background-color: white; }
      .container .content .wrapper form {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px; }
        .container .content .wrapper form span {
          display: flex;
          align-self: flex-start;
          color: black;
          font-size: 32px; }
        .container .content .wrapper form input[type="text"] {
          margin-top: 20px; }
        .container .content .wrapper form input[type="password"] {
          margin-top: 20px; }
        .container .content .wrapper form input[type="button"] {
          display: flex;
          align-self: flex-end;
          margin-top: 20px; }
        .container .content .wrapper form a {
          display: flex;
          align-self: flex-end;
          margin-top: 20px; }
        .container .content .wrapper form .name-lastName {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row; }
        .container .content .wrapper form .login-password {
          width: 100%;
          display: flex;
          flex-direction: column; }
        .container .content .wrapper form .smallScreen {
          display: none; }
        .container .content .wrapper form .wrapper-checkbox {
          width: 100%; }
          .container .content .wrapper form .wrapper-checkbox .wrapper-line {
            margin-top: 20px;
            display: flex;
            flex-direction: row; }
            .container .content .wrapper form .wrapper-checkbox .wrapper-line a {
              color: #0000c5;
              margin-top: 0; }

.wrapper {
  width: 632px;
  height: 416px;
  border-width: 1px;
  border-color: #707070;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06); }
