@import "mixins";
@import "variables";
@import "forms/stylesOfInput";

*{
  font-family: $font-family;
  font-size: $font-size;
}
body{
  background-color: rgb(241, 241, 241);
}
a{
  @include a-none;
}
.container{
  @include bp-576;
  display: flex;
  flex-direction: column;
  header{
    @include f-row-b();
    
    img{
      margin-left: 10px;
    }
    nav{
      @include margin;
      margin-right: 10px;
    }
  }
  .wrapper-for-gradient{
    
    display: flex;
    justify-content: center;
    @include margin;
    .gradient{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include gradient;
      .mail-img{
        width: 40%;
        height: 40%;
      }
      .capital-font{
        @include capital-text;
        @include margin;
      }

    }
  }
  .content{
    @include f-j-center;
    @include margin;
    
    .wrapper{
      @include f-a-center-j-around;
      @include margin;
      background-color: white;
      form{
        width: 60%;
        @include f-d-column-ai-center-jc-center;
        @include margin;
        span{
          @include f-as-start;
          color: rgb(0, 0, 0);
          font-size: 32px;
        }
        input[type="text"]{
          @include margin;
        }
        input[type="password"]{
          @include margin;
        }
        input[type="button"]{
          @include f-as-end;
          @include margin;
        }
        a{
          @include f-as-end;
          @include margin;
        }

        .name-lastName{
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;  
        }
        .login-password{
          width: 100%;
          display: flex;
          flex-direction: column;  
        }
        .smallScreen{
          display: none;
        }
        .wrapper-checkbox{
          width: 100%;
          .wrapper-line{
            a{
              color: rgb(0, 0, 197);
              margin-top: 0;
            }
            @include margin;
            display: flex;
            flex-direction: row;
          }

        }
        }
      }
      
    }
  }
  


.wrapper{
  width: 632px;
  height: 416px;
  border-width: 1px;
  border-color: rgb(112, 112, 112);
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
